/*navbar*/
.navbar {
  background: linear-gradient(
    to right,
    orangered 0%,
    orangered 63%,
    white 63%,
    white 100%
  );
  padding: 10px;
}
#portfolio {
  color: gray;
}
.co {
  color: rgb(50, 192, 104);
}
a {
  text-decoration: none;
}
.quote {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.navbar .heading,
.navbar ul {
  padding: 10px;
}
.navbar .heading {
  padding: 0;
  margin-top: -10px;
  margin-left: 10px;
  float: left;
  color: white;
}
.navbar a {
  float: left;
  padding: 0 40px 0 0;
  margin-top: -5px;
  margin-bottom: 40px;
  color: white;
}
.navbar ul {
  display: flex;
  justify-content: center;
}
.navbar .quotes {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: -110px;
}
/*header*/
.header {
  background: linear-gradient(
    to right,
    orangered 0%,
    orangered 63%,
    white 63%,
    white 100%
  );
}
.header ul {
  list-style: none;
}
.header li {
  display: inline;
  padding: 0 20px 0 0;
}
.header .logo {
  background-image: url("iot.jpg");
  width: 43%;
  background-position: end;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-left: 250px;
}
.logo1 {
  color: orangered;
}
.header .content {
  margin-top: 50px;
  margin-left: 400px;
}
ul {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*article*/

.tips {
  height: 930px;
  margin-top: 50px;
}
.saveenergy img {
  margin-left: 20px;
}
.saveenergy h1 {
  float: right;
  width: 50%;
  margin-right: 70px;
}
.saveenergy > p {
  float: right;
  width: 30%;
  margin-top: -170px;
  margin-right: 340px;
}
.saveenergy .learnmore {
  margin-left: 590px;
}
.temp {
  margin-top: 50px;
}
.temp img {
  margin-left: 20px;
}
.temp h1 {
  float: right;
  width: 50%;

  margin-right: 70px;
}
.temp p {
  float: right;
  margin-top: 70px;
  margin-right: -399px;
  width: 30%;
}
.temp .learnmore {
  margin-left: 600px;
}
.secure {
  margin-top: 50px;
}
.secure h1 {
  float: right;
  width: 50%;

  margin-right: 70px;
}
.secure p {
  float: right;
  margin-top: 70px;
  margin-right: -399px;
  width: 30%;
}
.secure .learnmore {
  margin-left: 600px;
}
/*section*/
.section {
  background-color: #ccc;
  padding: 10px;
  height: 340px;
}
.section .images {
  display: flex;
}
.section .image {
  background-color: #fff;
  margin-left: 50px;
  margin-right: 20px;
  word-spacing: 3px;
  padding: 10px;
  width: 20%;
}
.section .headers,
.section .button {
  margin-left: 40px;
}
.section .button {
  float: right;
  margin-top: -50px;
  margin-right: 10px;
}
.secure img {
  margin-left: 25px;
}
/*FAQ*/
.questag {
  margin-top: 20px;
  background-color: #eee;
  padding: 30px;
}
.questag p {
  width: 56%;
}
.questag .content,
.questag .heading {
  margin-left: 100px;
}
.questag .content {
  background-color: white;
  margin-top: 20px;
  padding: 5px;
}
.questag .heading {
  word-spacing: 900px;
}
.questag p {
  margin-left: 40px;
}
/*Footer*/

.footer .branch {
  display: inline-block;
  width: 20%;
  padding: 0 20px 0 0;
  margin-left: 40px;
}

.learnmore {
  border-radius: 10px;
  padding: 7px;
  background-color: rgb(50, 192, 104);
  color: white;
}
.copyrightcontent {
  margin-top: 30px;
  background-color: orangered;
  color: white;
  padding: 5px;
  text-align: center;
}
